<html lang="en">
<style>
body {
    min-width:500px;
    max-height:500px
}
</style>
<style>
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; }
</style>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="Demo" ng-cloak>
  <md-card>
    <md-card-title>
      <md-card-title-text layout-align="center center">
        <span class="md-headline">Enter the Amount to Withdraw<span>
      </md-card-title-text>
    </md-card-title>

    <form name="userForm">

    <md-input-container class="md-block" md-content layout-padding="">
        <label layout-padding="">USD</label>
        <input id="amt" type="number" step="any" name="amount" ng-model="amount" max="{{ money }}" >
        <div ng-messages="userForm.amount.$error" md-auto-hide="false">
          <div ng-message="max">
            You have {{ money | currency:"$":0}} available in your Coinbase wallet(s).
          </div>
        </div>
      </md-input-container>
    </form>

      <div layout="row" layout-align="center center">
        <md-button type="withdraw" ng-click="withdraw()">Withdraw
        </md-button>
      </div>
  </md-card>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="demo.js"></script>

</body>
</html>
