<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://ajax.googleapis.com https://web.mit.edu">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-controller="DemoCtrl" ng-app="Demo" ng-cloak>


  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Tim the Beaver Plush Toy</span>
          <img src="https://web.mit.edu/graphicidentity/images/examples/tim-the-beaver-2.png" width=196>
        <span class="md-subhead">$0.10</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row">
        <md-input-container>
          <label>card number</label>
          <input ng-model="user.card">
        </md-input-container>

      </div>
      <md-button type="submit" ng-click="submit()">Submit</md-button>
    </md-card-content>
  </md-card>


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="index.js"></script>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
